{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags comments mptt_tags molo_commenting_tags i18n %}

{% block content %}

<div id="comments-list" class="comment comment{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h1 class="heading heading--comment">{% trans "Thanks!" %}</h1>
  <h5 class="heading heading--comment__description">{% trans "Your comment has been successfully posted" %}</h5>
  <a href="{% pageurl article %}" class="call-to-action__nav-item call-to-action__nav-item--back">
  {% trans "Back to article" %}</a>
</div>

{% endblock %}