{% load wagtailcore_tags i18n %}
<div class="notification-block">
    <p>---------------------</p>
    <p>
      {% with notice.target as article %}
        {{ notice.actor }} {% trans "replied to your comment on" %}
        <a href="{% pageurl article %}">{{ article.title }}</a>
        {{ notice.timesince }} {% trans "ago" %}
      {% endwith %}
    </p>
    <h2>Your Comment:</h2>
    <p>{{ notice.action_object.parent.comment }}</p>

    <h2>Their Reply:</h2>
    <p>{{ notice.action_object.comment }}</p>
</div>
