{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="comments comments{{self.get_parent_section.get_effective_extra_style_hints}}">
  <h2 class="comment__title">
    {% trans "You have" %} {{ number_unread_notifications }} {% trans "unread replies" %}
  </h2
  {% if unread_notifications %}
    <h3 class="comment__text">Unread</h3>
    <ul class="notifications unread_notification">
      {% for notice in unread_notifications %}
        {% include 'notifications/notice.html' %}
      {% endfor %}
    </ul>
  {% endif %}

{% if read_notifications %}
  <h3 class="comment__text">Read</h3>
  <ul class="notifications">
    {% for notice in read_notifications %}
      {% include 'notifications/notice.html' %}
    {% endfor %}
  </ul>
{% endif %}
</div>
{% endblock %}
